@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video::-webkit-media-controls-play-button {
  background-color: #000;
  border-radius: 0%;
  padding: 1px;
  margin: 2px;
  color: white;
}

video::-webkit-media-controls {
}

video::-webkit-media-controls-play-button {
}

video::-webkit-media-controls-volume-slider {
}

video::-webkit-media-controls-mute-button {
}

video::-webkit-media-controls-timeline {
}

video::-webkit-media-controls-current-time-display {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

video::cue {
  font-family: monospace;
  fontsize: 20px;
}

.button {
  border: 1px solid;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

.button:hover {
  background-color: #bef264; /* Equivalent to "hover:bg-lime-300" */
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 10px 0;
}

.custom-range:focus {
  outline: none;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3b82f6;
  border-radius: 1px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  margin-top: -7px;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3b82f6;
  border-radius: 1px;
}

.custom-range::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}

.custom-range::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.custom-range::-ms-fill-lower,
.custom-range::-ms-fill-upper {
  background: #3b82f6;
  border-radius: 1px;
}

.custom-range::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
}
